.app__button {
  width: 250px ;
  position: relative;
  padding:  1.2rem 1rem ;
  height: 30px;
  border-radius: 15px;
  border: none;
/* overflow-y: hidden; */
}

.app__button-content{
    /* position: relative; */
    width: 250px ;
    position: relative;
    padding:  1.2rem 1rem ;
    height: 30px;
    border-radius: 15px;
    /* background-color: #FAFAFA; */
    z-index: 2;
    overflow: hidden ;
    /* border: 1px solid #1E1E1E; */
}

.app__button  p:nth-of-type(1),
.app__button  p:nth-of-type(2){
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: top 0.25s ease-out;
    font-family: var(--);
    font-weight: 900;
    text-transform: uppercase;
    /* color: ; */
}
.app__button  p:nth-of-type(1){
    top: 50%
}
.app__button  p:nth-of-type(2){
    top: 130%;
}
.app__button:hover p:nth-of-type(1){
    top: -70%;
}
.app__button:hover p:nth-of-type(2){
    top: 50%;
}

.icon-btn{
    width: 40px;
    height: 40px;
    position: absolute;
    left: -10%;
    top: 50%;
    /* background-color: blueviolet; */
    border-radius: 50%;
    overflow: hidden;

    
}
.icon-content-two{
    width: 40px;
    height: 40px;
    position: absolute;
    left: 107%;
    top: 50%;
    /* background-color: blueviolet; */
    border-radius: 50%;
    overflow: hidden;

    
}
.icon-arrow{
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%); 
    transition: left  0.25s ease-out;
}
.icon-btn-one{
    left: 50%;

   
}
.icon-btn-two{
    left: -120%;

}
.icon-btn-three{
    left: -50%;

}
.app__button:hover .icon-btn-one{
    left: 150%;
}
.app__button:hover .icon-btn-two{
    left: 50%;
}
.app__button:hover .icon-btn-three{
    left: 50%;
}