  
  /* Text animation on scroll */
  .app__desc-content{
    color: black;
  }
  .content-text{
    overflow: hidden;
    line-height: 2;
    
  }
  .content-text span{
    display: inline-block;
    transform: translateY(100%);

  }